<footer class="bg-steel-gray-950 text-silver-400 p-6 text-center">
	<p>
		&copy; 2024 |
		<a
			href="https://github.com/m00nwtchr/m00nlit.dev"
			class="text-gold-400 hover:underline">GitHub</a
		>
	</p>
</footer>
